#first-time {
    display: none;
}

.body123 h2  {
    font-size: 40px;
}
body {
    background-color: #fbf8ff;
}

.row {
    max-width: 100%;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 14px;
    font-family: "Consolas", "Menlo", "Courier", monospace;
}

a {
    font-weight: bolder;
    color: black;
    font-size: 14px;
}

li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

img.imageblock-image {
    width: 100%;
}

.breadcrumbs {
    display:none;
}

section.top-bar-section {
    text-align: -webkit-center;
}

.left  li {
color: #8af5ea;
    border-bottom: solid #000000 2px;
}

.top-bar, .top-bar ul  {
    background-color: #ffffff;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    float: right;
    z-index: 30;
    margin-top: -40px;
}

/* Dropdown button on hover & focus */
 .dropbtn:focus {
    background-color: #8e2219;
    float: right;
      -webkit-transition: 1s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position:relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);


}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding-left: 20px;
    padding: 20px 130px;
    text-decoration: none;
    display: block;
    position: relative;
    text-align: center;
    border: 1px solid rgba(10,10,10,.25);
    border-radius: 0;
    height: 45px;
    white-space: pre;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #646cff;

}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block; position: relative; }


.tell {
    position: relative;
    float: right!important;
}


#secondary-menu {
    float: right;
    margin-top: -40px;
 }

.slogan2 {
    float: right;
}

.slogan2 p {
    font-size: 11px;
    line-height: 5px;
}

.slogan2 a {
    font-size: 11px;
}


.button-space {
 padding-top: 20%;
    position: absolute;
    z-index: 22;

}

.site-slogan {
    position: relative;
    padding-left: 70px;
}

.logo {
    position: absolute;
}

.mainmenu {
    padding-top: 20px;
}

.hdrimage {
    position: relative;
}

/* Tekst in de header */


.cloud  {
    background: rgba(137, 137, 137, 0.60);
    border-radius: 15px;
    position: absolute;
    z-index: 22;
    padding-top: 20px;
    border-bottom: 2px solid rgba(137, 137, 137, 0.60);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 84%;
    text-align: center;
    top:185px;
}

.cloud:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
    bottom: -17px;
    border-top-color: rgba(137, 137, 137, 0.60);
    border-width: 16px;
    left: 50%;
    margin-left: -33px;
}

.cloud p {
    font-size: 33px;
    color: #000000;
    font-weight: bold;

}


/* ----------------------Stuff aan de rechter kant ----------------------------- */
.voordeel {
    padding-top: 25px;
}

.voordeel img {
    height: 240px;
}

.voordeel h2 {
   padding-left: 20px;
}

.schadeherstellers img {
    height: 150px;
}

.focwa img {
    height: 150px;
}

.focwa h2 {
   text-align: center;
}

.review {
    background-color: rgba(244, 211, 78, 0.85);
    border-color: rgba(244, 211, 78, 0.85);
    border-radius: 10px;
}

.overzichten h2 {
    text-align: center;
}

.twee {
    margin-top: 10px;
}




/* Stuff aan de linker kant  */


.bespaar {
    padding-top: 25px;
}

.button {
    background-color: #FFDD35;
    transition-duration: 0.4s;
    width: 290px;
    height: 40px;
    border-width: 2px;
    border-radius:9px;
}

.button p {
    font-size: 17px;
    color: black;
     margin-top: -9px;
    
}

a:hover {
    color: #bebcbb;
}


