/* ----------------------LARGE ONLY  ----------------------------- */

@media only screen and (min-width: 1023px) {
    .overzichten {
        width: 424px;
        right: 26px;
    }
}
@media only screen and (max-width: 1178px) {

.cloud {
    top:185px;
}

}


/* ----------------------MEDIUM ONLY  ----------------------------- */

@media only screen and (max-width: 1023px) {

    .cloud p {
        font-size: 33px;
    }

    .overzichten img {
        padding: 20px;
    }

    .site-slogan {
        position: relative;
        padding-left: 70px;
        margin-top: -20px;
    }
    ul#main-menu {
        width: 599px;
    }
    .resptxt {
        display: none;
    }

    .cloud {
        top:160px;
        background: rgba(137, 137, 137, 0.60);
        width: 75%;
    }

    .cloud:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        border-bottom: 0;
        bottom: -17px;
        border-top-color: rgba(137, 137, 137, 0.60);
        border-width: 16px;
        left: 56%;
    }


}



@media only screen and (max-width: 709px) {
        .cloud p {
        max-width: 610px;
        color: #000000;
            font-size: 33px;
    }

    .cloud {
        top:161px;
        background: rgba(137, 137, 137, 0.60);
    }
}


/* ----------------------SMALL ONLY  ----------------------------- */

@media only screen and (max-width: 640px) {
    .overzichten img {
        padding: 20px;
    }

    .dropdown-content a {
        padding-left: 40px;
    }

    .cloud {
        padding-top: 0px;
        top: -68px;
        width: 80%;
        background: rgba(137, 137, 137, 0.60);
        position: relative;
    }

    .cloud p {
        font-size: 18px;
    }

    .button-space {
        top:90px;
        padding-top: 0px;
        position: relative;
    }

    .hdrimage  {
        margin-top: -127px;
        width: 100%;
    }

    .highlight img {
        width: 100%;
    }

    .button {
        width: 150px;
        height: 29px;
        border-width: 0px;
    }

    .button a {
        top:10px;
    }
}

@media only screen and (max-width: 639px) {

    #main-menu {
        background-color: yellow;
        line-height: 0px;
        float: inherit;
    }
}



@media only screen and (max-width: 625px) {
    .button-space {
        top:83px;
    }

    .hdrimage {
        margin-top: -121px;
    }

.cloud {
top: -58px;
}

}


@media only screen and (max-width: 591px) {

    .cloud p {
        font-size: 18px;
        color: #000000;
    }

    .cloud {
        background: rgba(137, 137, 137, 0.60);
         }

    .hdrimage {
        margin-top: -122px;
    }

    .cloud:before {
left: 56.5%;
    }

}

@media only screen and (max-width: 570px){
    .dropdown-content a {
        padding-left: 260px;
    }
}
@media only screen and (max-width: 521px) {
    .hdrimage {
        margin-top: -121px;
    }

    .button-space {
top:70px;
    }

}

@media only screen and (max-width: 500px) {

    .cloud p {
        font-size: 20px;
        color: #000000;
    }
    .cloud {
        background: rgba(137, 137, 137, 0.60);
    }



    .hdrimage {
        margin-top: -110px;
    }
    .site-slogan  {
    font-size: 19px;
    }

}



@media only screen and (max-width: 457px) {

    .cloud p {
        font-size: 12.8px;
        color: #000000;
    }

    .cloud {
        top: -71px;

    }
    .button-space {
        top:40px;
    }

    .site-slogan  {
        font-size: 14px;
        font-weight: 600;
    }
    .cloud:before {
        left: 58.9%;
    }


}

@media only screen and (max-width: 398px) {
    .hdrimage {
        margin-top: -110px;
    }
}


/* ----------------------Iphone 4  ----------------------------- */
@media only screen and (max-width: 360px) {


    .cloud p {
        font-size: 33px;
        color: #000000;
        font-weight: bold;
    }

    .dropdown-content a {
        padding-left: 400px;
    }


}
